<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="liquid">
        <h2>Face Authenticator</h2>
        <h2>Face Authenticator</h2>
        <h2>Face Authenticator</h2>
        <h2>Face Authenticator</h2>
    </div>
    <div class="container">
        <div class="form-container sign-in-form">
            <div class="form-box sign-in-box">
                <h2>Login</h2>
                <form action="login_validation" method="post">
                    <div class="field">
                        <i class="uil uil-at"></i>
                        <input type="email" placeholder="Email Id" name="email"  required>
                    </div>
                    <div class="field">
                        <i class="uil uil-lock-alt"></i>
                        <input class="password-input" type="password" placeholder="Password" name="password" required>
                        <div class="eye-btn"><i class="uil uil-eye-slash"></i></div>
                    </div>
                    <div class="forgot-link">
                        <a href="">Forgot Password?</a>
                    </div>
                    <input type="submit" class="submit-btn" value="Login">
                </form>
                <div class="login-options">
                    <p class="text">Or, login with ...</p>
                    <div class="other-logins">
                        <a href=""><img src="../static/images/google.png"></a>
                        <a href=""><img src="../static/images/fb.png"></a>
                        <a href=""><img src="../static/images/apple.png"></a>
                    </div>
                </div>
            </div>
    
            <div class="imgBox sign-in-imgBox">
                <div class="sliding-link">
                    <p>Don't have an account</p>
                    <span class="sign-up-btn">Sign up</span>
                </div>
                <img src="../static/images/signin.jpg">
            </div>
        </div>
    
        <div class="form-container sign-up-form">
            <div class="imgBox sign-up-imgBox">
                <div class="sliding-link">
                    <p>Already a member ?</p>
                    <span class="sign-in-btn">Sign in</span>
                </div>
                <img src="../static/images/signup.jpg">
            </div>
    
            <div class="form-box sign-up-box">
                <h2>Sign up</h2>
                <div class="login-options">
                   
                    <div class="other-logins">
                        <a href=""><img src="../static/images/google.png"></a>
                        <a href=""><img src="../static/images/fb.png"></a>
                        <a href=""><img src="../static/images/apple.png"></a>
                    </div>
                    <p class="text">Or, Sign up with email ...</p>
                </div>
                <form action="">
                    <div class="field">
                        <i class="uil uil-at"></i>
                        <input type="email" placeholder="Email Id " required>
                    </div>
                    <div class="field">
                        <i class="uil uil-user"></i>
                        <input type="text" placeholder="Usernam " required>
                    </div>
                    <div class="field">
                        <i class="uil uil-lock-alt"></i>
                        <input class="password-input" type="password" placeholder="Password " required>
                    </div>
                    <div class="field">
                        <i class="uil uil-lock-access"></i>
                        <input class="password-input" type="password" placeholder="Confirm Password " required>
                    </div>
                    <input type="submit" class="submit-btn" value="Sign up">
                </form>
              
            </div>
    
            
    
        </div>
    </div>
    


    <script src = "{{url_for('static', filename='index.js')}}"></script>

</body>
</html>